<%= form_with(model: job_application) do |form| %>
  <% if job_application.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
        <% job_application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :company_name, class: "form-label fw-bold" %>
    <%= form.text_field :company_name, class: "form-control shadow-sm", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :position, class: "form-label fw-bold" %>
    <%= form.text_field :position, class: "form-control shadow-sm", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :status, class: "form-label fw-bold" %>
    <%= form.select :status, JobApplication.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-select shadow-sm", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :applied_at, class: "form-label fw-bold" %>
    <%= form.date_field :applied_at, class: "form-control shadow-sm", required: true %>
  </div>

  <div class="mb-3" data-controller="file-preview">
    <%= form.label :cv, "CV", class: "form-label fw-bold" %>
    <%= form.file_field :cv, class: "form-control shadow-sm", data: { file_preview_target: "input", action: "change->file-preview#show" } %>
    <div class="mt-2" data-file_preview_target="preview"></div>
  </div>

  <div class="mb-3" data-controller="file-preview">
    <%= form.label :cover_letter, class: "form-label fw-bold" %>
    <%= form.file_field :cover_letter, class: "form-control shadow-sm", data: { file_preview_target: "input", action: "change->file-preview#show" } %>
    <div class="mt-2" data-file_preview_target="preview"></div>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: "form-label fw-bold" %>
    <%= form.text_field :url, class: "form-control shadow-sm" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, class: "form-label fw-bold" %>
    <%= form.text_field :location, class: "form-control shadow-sm" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label fw-bold" %>
    <%= form.rich_text_area :description, class: "form-control shadow-sm" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn btn-primary px-4 shadow-sm" %>
  </div>

<% end %>
